@media (max-width: 820px) {
    html {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 2vh;
        padding-bottom: 2vh;
        padding-left: 15vw;
        padding-right: 15vw;
        background: url("media/toronto.JPG");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    h1 {
        font-size: 45px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    h2, .intro {
        font-family: "JetBrains Mono", monospace;
        font-size: 20px;
        font-weight: 600;
    }

    h2 {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .intro {
        margin-bottom: 10px;
    }

    p {
        font-family: "Abel", sans-serif;
        font-size: 18px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    a {
        text-decoration: none;
    }

    #icon {
        font-size: 27.5px;
        text-decoration: none;
        color: white;
        padding-right: 10px;
        padding-left: 10px;
        transition: all 0.15s ease 0s;
    }

    #icon:hover {
        opacity: 0.5;
    }

    .main_box {
        color: white;
        padding: 5px;
        border-radius: 15px;
        min-width: 93.5vw;
        height: 89.5vh;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        background: linear-gradient(135deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
        backdrop-filter: blur(6px);
        -webkit-backdrop-filter: blur(15px);
        border: 1px solid rgba(255, 255, 255, 0.18);
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.5);
    }

    .left_box, .right_box{
        display: inline-block;
        width: 100%;
    }

    .left_box {
        height: 52%;
        text-align: center;
        overflow-y: auto;
    }

    .right_box{
        height: 48%;
        flex-direction: column;
    }

    .content_box{
        display: inline-block;
        height: 91%;
        overflow-y: auto;
    }

    .nav_bar{
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-bottom: 5px;
        /*height: 70px;*/
    }

    .top_name {
        margin-top: 10px;
        font-size: 20px;
    }

    .name, .btntxt{
        font-family: "Comfortaa", sans-serif;
        font-weight: 800; 
    }

    .pic {
        height: 150px;
        border-radius: 25px;
        margin-bottom: 0px;
        border: 1px solid rgba(255, 255, 255, 0.18);
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.35);
    }

    .subbox, .nav_bar{
        padding-left: 5px;
        padding-right: 5px;
    }


    .proj, .btn {
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.35);
    border-radius: 15px;
    padding: 6px;
    transition: all 0.15s ease 0s;
}
}