.proj, .btn {
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.35);
    border-radius: 15px;
    padding: 10px;
    transition: all 0.15s ease 0s;
}

.btn {
    margin: 0 auto;
    width: auto;
    max-width: 300px;
}

.btntxt {
    font-size: 20px;
}

.proj:hover, .btn:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.25);
}

.projpadding, .btnpadding {
    padding: 5px;
}

.projpic {
    height: 250px;
    width: 100%;
    object-fit: cover;
    object-position: top;
    border-radius: 10px;
    transition: all 0.15s ease 0s;
}

.projpic:hover {
    opacity: 0.5;
}

.projname, .projdesc, .btntxt {
    color: white;
}

.projname {
    font-family: "Zalando Sans SemiExpanded", sans-serif;
    font-weight: 600;
    font-size: 22px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.projdesc{
    font-family: "Geist", sans-serif;
    font-size: 17px;
}

