@import url('https://fonts.googleapis.com/css2?family=Abel&family=Comfortaa&family=JetBrains+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Rethink+Sans:ital,wght@0,400..800;1,400..800&family=Zalando+Sans+SemiExpanded:ital,wght@0,200..900;1,200..900&family=Zalando+Sans:ital,wght@0,200..900;1,200..900&display=swap');

html {
    align-items: center;
    justify-content: center;
    padding: 3vh;
    background: url("media/toronto.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

h1 {
    font-size: 70px;
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 20px;
}

h2, .intro {
    font-family: "Zalando Sans SemiExpanded", sans-serif;
    font-size: 28px;
    font-weight: 600;
}

h2 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.intro {
    margin-bottom: 15px;
}

p {
    font-family: "Geist", sans-serif;
    font-size: 19px;
    margin-top: 7px;
    margin-bottom: 7px;
}

a {
    text-decoration: none;
}

#icon {
    font-size: 27.5px;
    text-decoration: none;
    color: white;
    margin-top: 5px;
    padding-right: 10px;
    padding-left: 10px;
    transition: all 0.15s ease 0s;
}

#icon:hover {
    opacity: 0.5;
}

.main_box {
    color: white;
    padding: 10px;
    border-radius: 15px;
    height: 89.5vh;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.5);
}

.left_box, .right_box {
    height: 100%;
}

.left_box {
    width: 35%;
    text-align: center;
    overflow-y: auto;
}

.right_box{
    width: 65%;
    display: flex;
    flex-direction: column;
}

.content_box{
    flex: 1;
    order: 2;
    overflow-y: auto;
}

.nav_bar{
    display: flex;
    order: 1;
    flex-direction: row;
    justify-content: right;
    padding-bottom: 10px;
    /*height: 70px;*/
}

.top_name {
    margin-top: 20px;
    font-size: 25px;
}

.name, .btntxt{
    font-family: "Zalando Sans SemiExpanded", sans-serif; 
}

.btntxt{
    font-weight: 500; 
}

.pic {
    height: 250px;
    border-radius: 25px;
    margin-bottom: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.35);
}

.subbox, .nav_bar{
    padding-left: 10px;
    padding-right: 10px;
}
